web/WEB-INF/data/formation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="formation" type="formation"/>
    <xs:complexType name="formation">
        <xs:sequence>
            <xs:element name="libelle" type="xs:string" />
            <xs:element name="description" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
